<div class="course-group">
    <div class="top-group">
        <span class="title-group">online course</span>
        <a href="{% url 'course:index' %}" class="more-group">more</a>
    </div>
</div>
<div class="pay-info-group">
    <a href="https://www.iqiyi.com/v_19rrok4nt0.html?vfm=f_191_360y">
        <img src="{% static 'image/haizei.jpg' %}" alt="" style="width:300px;height: 120px;margin-left: 25px">
    </a>
</div>
<div class="focus-group">
    <div class="title-group">follow me</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                <div class="logo-group zhihu-logo"></div>
                <div class="text-group">
                    <a href="https://www.zhihu.com/signup?next=%2F">zhihuzhihu</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group weibo-logo"></div>
                <div class="text-group">
                    <a href="https://weibo.com/">blog</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group toutiao-logo"></div>
                <div class="text-group">
                    <a href="https://www.toutiao.com/">toutiao</a>
                </div>
            </div>
        </div>
        <div class="right-group">
            <div class="qr-group"></div>
            <p class="text-group">scan above code to follow</p>
        </div>
    </div>
</div>